.nav{
    display: flex;
    list-style: none ;
    width: 40vw;
    justify-content: space-around;
}

#nav-link:visted{
    text-decoration: none;
    color: #ebdfcc;
}

#nav-link.active{
    color: greenyellow;
    display: flex;
    justify-content: end;
}

#nav-link{
    display: flex;
    justify-content: end;
    color: orangered;
}

@media(max-width: 589px){
    .nav{
        flex-direction: column;
    }
}