.headerParent{
    background-color: #2b2b2b;
    height: '20vh';
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

#header-text{
    font-size: 40px;
    color: #ebdfcc;
    font-family: 'Courier New', Courier, monospace;
}