#hero{
    overflow: hidden;
    width: 50vw;
    height: 50vw;
}

#hero img{
    object-fit: contain;
    object-position: center;
    max-width: 50%;
    height: 50px;
}

#about-me-title{
    font-family: "montserrat", sans-serif;
    display: flex;
    justify-content: center;
}

#p-about{
    text-align: center;
    font-size: 1.5rem;
}